/*body {
	background-color: #FFFFFF;
}
*/
table {
    width: 500px;
    height: 200px;
   }
td { padding: 5px; }
 /*  td.col_1 { background: #000000; }*/
   /*td.col_2 { background: #2F4F4F; }
   td.col_3 { background: #708090; }
   td.col_4 { background: #696969; }
   td.col_5 { background: #FFE4E1; }
   td.col_6 { background: #C0C0C0; }
   td.col_7 { background: #FFFFFF; }
   td.col_8 { background: #000080; }
   td.col_9 { background: #008080; }
   td.col_10 { background: #00FFFF; }
   td.col_11 { background: #008000; }
   td.col_12 { background: #808000; }
   td.col_13 { background: #FFFF00; }
   td.col_14 { background: #B8860B; }
   td.col_15 { background: #800000; }
   td.col_16 { background: #FF0000; }
   td.col_17 { background: #800080; }
   td.col_18 { background: #FF00FF; }
   td.col_19 { background: #A52A2A; }
   td.col_20 { background: #A0522D; }
   td.col_21 { background: #8B4513; }
   td.col_22 { background: #DB7093; }
   td.col_23 { background: #C71585; }
   td.col_24 { background: #FF1493; }
   td.col_25 { background: #FF69B4; }
   td.col_26 { background: #FFB6C1; }
   td.col_27 { background: #FFC0CB; }
   td.col_28 { background: #DC143C; }*/