
.calculator {
	/*display: flex;*/
    position: fixed;
    left: 30px;
    top: 50px;
    width: 200px;
    height: 400px;
    overflow: auto;
    background-color: #A9A9A9;
    z-index: 1;
    display: block;
  	vertical-align: middle;
}
.choice{

 	margin-left: 20px;
}

.choice1{
 	display: inline-block;
 	margin-left: 20px;
}

.choice .count-button{
	margin-top: 30px;
	appearance: none;
  	border: 0;
  	border-radius: 5px;
  	background: #4676D7;
  	color: #fff;
  	padding: 8px 16px;
  	font-size: 16px;
}

.head{
	margin-left: 20px;
}

.display-count{
	position: fixed;
    left: 240px;
    top: 50px;
    width: 400px;
    height: 400px;
    overflow: auto;
    background-color: #A9A9A9;
    z-index: 1;
   	vertical-align: middle;
  	text-align: 20px;
}

.show-count{
	margin-top: 100px;
	display: inline-flex;
	margin-left: 20px;
}

.price-auto{
	width: 70px;
}

.engine-capacity{
	width: 70px;
}

.input-fuel {
	width: 75px;
}

.input-year {
	width: 75px;
}

.table {
	b
}